* {
    margin: 0 auto;
    padding: 0;
}

body {
    width: 1440px;
}

main {
    background-image: url(Img/background.jpg);
    height: 765px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;
background: rgba(242, 120, 92, 0.7);
box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo_container {
    display: flex;
}

.logo {
    width: 30px;
    height: 30px;
}

.logo_text {
font-family: 'Magra';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 39px;
color: #FFFFFF;
}

.nav_container {
display: flex;
justify-content: space-between;
width: 527px;
height: 21px;
}

.nav_item {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    text-decoration: none;
    color: #FFFFFF; 
}

.button_login {
    width: 103px;
    height: 41px;
    background: #0D606F;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;
border: 0;
}

.title_text {
position: relative;
width: 892px;
top: 122px;
font-family: 'Aleo';
font-style: normal;
font-weight: 700;
font-size: 80px;
line-height: 96px;
margin-left: 120px;

color: #FFFFFF;
}

.subtitle_text {
    position: relative;
    width: 723px;
height: 24px;
top: 146px;
font-family: 'Aleo';
font-style: italic;
font-weight: 700;
font-size: 20px;
line-height: 24px;
color: #FFFFFF;
margin-left: 120px;
}

.search_container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
width: 892px;
height: 95px;
margin-left: 120px;
top: 200px;
background: rgba(255, 255, 255, 0.7);
border-radius: 16px;
}

.search_text {
    position: relative;
margin-left: 41px;
width: 560px;
font-family: 'Aleo';
font-style: italic;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #F2785C;
}

.search_button {
    width: 228px;
height: 59px;
background: #0D606F;
box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
border-radius: 10px;
border: 0;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}

.steps_title {
    position: relative;
top: 80px;
text-align: center;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
color: #F2785C;
}

.steps {
    display: flex;
    justify-content: space-between;
    position: inherit;
    margin-top: 120px;
}

.steps_item {
    text-align: center;
}

.steps_item_text {
margin-top: 30px;
font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
color: #0D606F;
}

.slider_title {
    position: relative;
    top: 97px;
    text-align: center;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
}

.slider {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-wrap: nowrap;
    width: 2520px;
    height: 1042px;
    left: -540px;
    top: 196px;
}

.slider_item {
position: relative;
width: 800px;
height: 800px;
border-radius: 16px;
}

.first_slider {
    background-image: url(Img/Rectangle23.jpg);
}

.second_slider {
    background-image: url(Img/Rectangle24.jpg);
}

.thirt_slider {
    background-image: url(Img/Rectangle25.jpg);
}

.slider_name {
    position: relative;
    top: 718px;
    left: 15px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 42px;
color: #FFFFFF;
text-transform: uppercase;
}

.ellips {
    text-align: center;
}

.elips_item_active {
    width: 20px;
height: 20px;

}
.elips_item {
    width: 20px;
height: 20px;
opacity: 0.5;
}

button.cta-button {
display: flex;
justify-content: space-around;
align-items: center;
position: relative;
width: 228px;
height: 59px;
background: #0D606F;
border-radius: 10px;
border: 0;
top: 40px;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
}

.stories_title {
    text-align: center;
    position: relative;
    font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 53px;
color: #F2785C;
top: 105px;
}

.stories_container {
    position: relative;
    height: 1331px;
    background:url(Img/Rectangle33.jpg);
    top: 173px;
}

.background_container {
 background: rgba(255, 255, 255, 0.7);
 height: 1280px;
}

article {
    display: flex;
}

.stories_title_item {
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 42px;
color: #0D606F;
margin-bottom: 24px ;
}

.stories_img {
    width: 400px;
height: 250px;
filter: drop-shadow(0px 4px 4px #0D606F);
border-radius: 16px;
}

.stories_text {
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;

color: #0D606F;
}

.stories_item {
    padding-top: 40px; 
    width: 1160px;
}

.stories_item_container {
    margin-left: 40px;
}

footer {
    height: 61px;
}

.footer_text {
text-align: center;
align-items: center;
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFF;}

